<!DOCTYPE html>
<html lang="en">
<head>
    <title>Users</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script>
    <script src="js/usersCtrl.js"></script>
</head>
<body>

<div class="container-fluid" ng-app="dyzury" ng-controller="users">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <h4>Dyżury</h4>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="users.html">Użytkownicy</a></li>
                <li><a href="places.html">Miejsca</a></li>
                <li><a href="breaks.html">Przerwy</a></li>
                <li><a href="duties.html">Dyżury</a></li>
            </ul>
        </div>

        <div class="col-sm-9 cnt">
            <div class="alert alert-success fade in {{infoVisible}}">
                {{info}}
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </div>

            <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#addUserModal">Dodaj użytkownika</button>
            <br /><br />

            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nazwa użytkownika</th>
                        <th>Akcja</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in users">
                        <td>{{user.userid}}</td>
                        <td>{{user.breakname}}</td>
                        <td>
                            <span ng-click="editUserModal(user)" data-toggle="modal" data-target="#editUserModal" class="glyphicon glyphicon-edit table-edit"></span>
                            <span ng-click="deleteUser(user.userid)" class="glyphicon glyphicon-remove table-remove"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Dodaj użytkownika</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="add-user-name" class="control-label">Nazwa:</label>
                                    <input type="text" class="form-control" id="add-user-name" ng-model="addUserName">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" ng-click="addUser()">Dodaj</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Edytuj użytkownika - {{editUserNameTitle}}</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="edit-user-name" class="control-label">Nazwa:</label>
                                    <input type="text" class="form-control" id="edit-user-name" ng-model="editUserName">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" ng-click="editUser(editUserUserid)">Edytuj</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>