<div class="col-sm-5">
  <div class="panel panel-primary" >

    <h3 class="panel-heading panel-title">
      Użytkownicy systemu
    </h3>

    <div class="panel-body" >
      <!--Kolejny podział-->
      <div class="col-sm-12 ">

        <table class="table table-striped table-condensed" >
          <thead>
          <tr>
            <td class="col-sm-2">UserId</td>
            <td class="col-sm-8">UserName</td>
            <td class="col-sm-2">
              <span ng-if="!M.uU" class="glyphicon glyphicon-lock text-danger" ng-click="M.uU=true"></span>
              <span ng-if="M.uU" class="glyphicon glyphicon-floppy-disk text-info" ng-click="saveAllUsers()"></span>
              <span class="glyphicon glyphicon-refresh text-info" ng-click="loadUsers()"></span>
            </td>
          </tr>
          </thead>

          <tbody>
          <tr class="clickable"
              ng-repeat="u in users"
              ng-click="M.selUser = (u ? u : {})"
          >
            <td> {{u.userid}} </td>
            <td>
              <input ng-if="u==M.selUser" ng-model="u.username">
              <span ng-if="u!=M.selUser"> {{u.username}} </span>
            </td>
            <td>
              <!-- delete, save -->
              <div ng-if="M.uU">
                <span class="glyphicon glyphicon-floppy-disk text-info" ng-click="upsertUser(u)"></span>
                <span class="glyphicon glyphicon-trash text-info" ng-click="deleteUser(u)"></span>
              </div>
            </td>
          </tr>
          </tbody>
        </table>

        <p class="clickable" ng-click="addEmptyUser()">
          <span class="glyphicon glyphicon-plus text-info"></span>
        </p>



      </div>
    </div>
  </div>
</div>


